

html {
  background-color: black;

}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}

body {
  background-color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 1rem 0;
  text-align: center;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.wrapper {
  background-image: url(../img/2019.gif);
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem;
  }
/*   max-width: 1020px; */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: transparent;
  position: absolute;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: grey;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: transparent;
  display: block;
  position: fixed;
  right: 0;
  top: 12px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: transparent;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: transparent;
  color: black;
}
