        /* Set height of body and the document to 100% to enable "full page tabs" */
        body,
        html {
            font-family: Arial;
            text-align: center;
            background-color: black;
            background-size: auto;
            overflow: scroll;
            scrollbar-width: none;
            position: relative;
            height: 100%;
            margin: 0;
        }

        iframe {
            height: 93%;
            width: 100%;
            transform: scale(0.98, 0.98);
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            margin: 0;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: 1px black solid;
            outline: none;
            padding: 15px;
            width: 25%;
            font-size: 2.5vw;
        }

        .tablink:hover {
            background-color: #777;

        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            height: 100%;
            width: 100%;
            margin: 0;
        }

        #Home {
            background-color: black;
        }

        #adsb {
            background-color: green;
        }

        #pp {
            background-color: red;
        }

        #nws {
            background-color: blue;
        }