        /* Set height of body and the document to 100% to enable "full page tabs" */
        @media screen and (min-width: 500px) {
            :root {
                height: 100vh;
            }
        }

        body, html {
            font-family: Arial;
            text-align: center;
            background-color: black;
            overflow: scroll;
            scrollbar-width: none;
            position: relative;
            padding-bottom: 0;
            height: 100vh;
            top:0; bottom:0; right:0; left:0;
            padding:0;
            margin: 0 auto;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: 1px black solid;
            outline: none;
            cursor: crosshair;
            padding: 1em;
            width: 25%;
            font-size: 2vw;

        }

        .tablink:hover {
            background-color: #777;

        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            text-align: center;
            cursor: crosshair;
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
        }

        #Home {
            background-color: black;
        }

        #adsb {
            background-color: green;
        }

        #pp {
            background-color: red;
        }

        #nws {
            background-color: blue;
        }