        /* Set height of body and the document to 100% to enable "full page tabs" */
        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            display: block;
            overflow: auto;
            scrollbar-width: none;
            text-align: center;
            margin: 0;
        }