html,
body {
    background-color: #c92027;
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%), 
                        linear-gradient(-45deg, #ffffff 25%, transparent 25%), 
                        linear-gradient(45deg, transparent 75%, #ffffff 75%), 
                        linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    background-size: 2em 2em;
}
table {
    border-collapse:separate;
    width: 100%;
  }
  
  td, th {
    border: 5px solid #ffffff;
    text-align: center;
    padding: 8px;
    background-color: #c92027;
  }

