html, body {
  background-color: black;
  background-image: url(/img/cartieravesq.png);
  color: #757575;
  text-align: center;
      margin: 0;
      padding: 0;
      width: 100dvw;
      height: 100dvh;
      min-width: fit-content;
      box-sizing: border-box;
      display: inline-block;
      overflow: none;
  }